<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Transform="Replace" xdt:Locator="Condition(@key='EmailTemplatesURL')" key="EmailTemplatesURL" value="http://donor-uat.splcenter.org/rsvp" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="Donor_ConnStr" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=DSDB_UAT;Data Source=test-data03\test_default" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <customErrors xdt:Transform="Insert" mode="Off" />
  </system.web>
</configuration>