<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Tax Form</title>
</head>
<body style="font-family: Helvetica Neue,Helvetica; font-size:10pt;">
    <table>
        <tr>
            <td width="300pt"></td>
            <td>Fighting Hate
        Teaching Tolerance
        Seeking Justice</td>
        </tr>
    </table>
    

    <p>
        Thank you for shopping at Northwind Traders. Your order details are below.
    </p>
    <br /><br />
    <h2 style="font-weight: bold">Order Information</h2>
    <table>
        <tr>
            <td style="font-weight: bold">Order:</td>
            <td>[ORDERID]</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Price:</td>
            <td>[TOTALPRICE]</td>
        </tr>
        <tr>
            <td style="font-weight: bold">Order Date:</td>
            <td>[ORDERDATE]</td>
        </tr>
    </table>
    <br /><br />
    <h2 style="font-weight: bold">Items In Your Order</h2>
    [ITEMS]
    <br /><br />
    <p style="text-align: center; font-style: italic; font-size: 10pt">
        Thank you for your business! If you have any questions about your order, please contact us at
        800-555-NORTH.
    </p>
</body>
</html>
