
<table border="0" style="width: 510px; height: 558px;">
    <tbody>
        <tr>
            <td height="34"><img alt="SPLC" src="https://donate.splcenter.org/view.image?Id=450" style="margin-top: 5px; margin-bottom: 5px;" data-fieldtype="301" data-alt="SPLC" data-style="margin-top: 5px; margin-bottom: 5px;" /></td>
        </tr>
        <tr>
            <td style="height: 30px;" valign="middle"><span style="font-family: verdana,geneva; font-size: 9pt;"><span style="font-family: verdana,geneva; font-size: 9pt;">@{DATE}</span></span></td>
        </tr>
        <tr>
            <td height="293">
                @{TEXT}

                <!--
                <p style="text-indent: 20px;"><span style="font-family: verdana,geneva; font-size: 9pt;">Dear @{SALUTATION},</span></p>
                <p style="text-indent: 20px;"><span style="font-family: verdana,geneva; font-size: 9pt;">Thank you for registering for the Southern Poverty Law Center's special presentation, @{DisplayName}, in @{City} on @{StartDate} at @{StartTime}</span></p>
                <p style="text-indent: 20px;"><span style="text-decoration: underline;"><strong><span style="font-family: verdana,geneva; font-size: 9pt;">This event has reached capacity. Your name has been added to a wait list, and we will contact you by telephone if space becomes available.</span></strong></span></p>
                <p style="text-indent: 20px;"><span style="font-family: verdana,geneva; font-size: 9pt;">For more information, or if you have questions, please call Courtney at (334) 956-8269.</span></p>
                <p style="text-indent: 20px;"><span style="font-family: verdana,geneva; font-size: 9pt;">And, most importantly, thank you for your continued support. Together, we are making a difference in courtrooms and classrooms across the country.</span></p>
                -->

                <table border="0" cellpadding="0" cellspacing="0" style="width: 443px; height: 144px;">
                    <tbody>
                        <tr>
                            <td><span style="font-size: 9pt;"><img alt="" src="http://donate.splcenter.org/image/morris2010_seriousweb.jpg" style="display: block; margin-left: auto; margin-right: auto;" data-fieldtype="301" data-alt="" data-style="display: block; margin-left: auto; margin-right: auto;" /></span></td>
                            <td>&nbsp;</td>
                            <td valign="center">
                                <p><span style="font-family: verdana,geneva; font-size: 9pt;">Sincerely,</span></p>
                                <p><br /><span style="font-family: verdana,geneva; font-size: 9pt;"> <img alt="Morris Dees" src="https://donate.splcenter.org/view.image?Id=476" data-fieldtype="301" data-alt="Morris Dees" /></span></p>
                                <p><span style="font-family: verdana,geneva; font-size: 9pt;">Morris Dees</span><br /><span style="font-family: verdana,geneva; font-size: 9pt;"> Founder, Southern Poverty Law Center</span></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;" height="4"><hr style="width: 100%; height: 2px;" /></td>
        </tr>
        <tr>
            <td style="width: 256px;" valign="top" height="51">
                <p><span style="font-family: verdana,geneva; font-size: 8pt;"><em><a href="http://donate.splcenter.org/sslpage.aspx?pid=463">Make a contribution</a> to support our work fighting hate, teaching tolerance, and seeking justice.</em></span></p>
                <p><span style="font-family: verdana,geneva; font-size: 8pt;"><em>Take advantage of corporate matching gift opportunities. Contact your employer's HR department to see if they will <a href="http://www.splcenter.org/get-involved/other-ways-to-give/corporate-matching">match your contributions to the SPLC</a>.</em></span><br /> <br /><span style="font-family: verdana,geneva; font-size: 8pt;"> <em> We welcome your feedback.</em></span><br /><span style="font-family: verdana,geneva; font-size: 8pt;"> <em> Contact us <a href="http://www.splcenter.org/contact-us">online</a>.</em></span><br /><span style="font-family: verdana,geneva; font-size: 8pt;"> <em> 400 Washington Ave.</em></span><br /><span style="font-family: verdana,geneva; font-size: 8pt;"> <em> Montgomery, AL 36104</em></span></p>
            </td>
        </tr>
        <tr>
            <td style="width: 256px; text-align: right;" valign="top" height="15">&nbsp;</td>
        </tr>
    </tbody>
</table>